.color-blue {
    -fx-text-fill: #1e2c37;
    -fx-background-color: #93e1d8;
}
.color-white {
    -fx-text-fill: #1e2c37;
    -fx-background-color: #fcfcfc;
}
.color-black {
    -fx-text-fill: #fcfcfc;
    -fx-background-color: #1e2c37;
}
.color-orange {
    -fx-text-fill: #fcfcfc;
    -fx-background-color: #ff762c;
}
.color-brown {
    -fx-text-fill: #fcfcfc;
    -fx-background-color: #93827f;
}

.rounded-borders {
    -fx-border-radius: 100;
    -fx-background-radius: 100;
}

.expand {
	-fx-background-color: transparent;
	-fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
	-fx-width: 25px;
	-fx-height: 25px;
	-fx-background-image: url("expand_more.png");	
}

.expand.show {
	-fx-background-image: url("expand_less.png");		
}

.btn-save {
	-fx-position: absolute;
    -fx-right: 0px;
    -fx-background-color: #93827f;
    
}
