.color-blue {
    -fx-text-fill: #1e2c37;
    -fx-background-color: #93e1d8;
}
.color-white {
    -fx-text-fill: #1e2c37;
    -fx-background-color: #fcfcfc;
}
.color-black {
    -fx-text-fill: #fcfcfc;
    -fx-background-color: #1e2c37;
}
.color-orange {
    -fx-text-fill: #fcfcfc;
    -fx-background-color: #ff762c;
}
.color-brown {
    -fx-text-fill: #fcfcfc;
    -fx-background-color: #93827f;
}

.rounded-borders {
    -fx-border-radius: 100;
    -fx-background-radius: 100;
}
